@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-weight: normal;
  background-color: #f9fffe;
}

h1 {
  font-family: "PT Serif", serif;
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
}

p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/*--=========== Header =============--*/ 
.content {
  width: 45%;
  padding: 10px;
}

.content h2 {
  text-transform: uppercase;
}

.content p {
  width: 90%;
}

/*--=========== Team =============--*/ 
.team {
  margin-bottom: 40px;
}

.team.container {
  padding: 40px 30px;
}

.team .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.teammate {
  position: relative;
  transition: transform 0.3s ease-in-out;
  
}
.teammate:focus,
.teammate:hover {
  transform: translateY(-10px) scale(1.05);
  cursor: pointer;
  filter: brightness(120%);

}

.teammate p {
  position: absolute;
  top: 0;
  right: 13%;
  writing-mode: vertical-lr;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.teammate img {
  max-width: 80%;
  margin-bottom: 3px;
}

.teammate img:hover {
    box-shadow: 10px 10px 10px rgb(184, 184, 184);
    -moz-box-shadow: 10px 10px 10px rgb(184, 184, 184);
    -webkit-box-shadow: 10px 10px 10px  rgb(184, 184, 184);
    -khtml-box-shadow: 10px 10px 10px  rgb(184, 184, 184);
}

.img-2,
.img-5 {
  margin-top: 100px;
}

/*--=========== Footer =============--*/ 

footer {
  position: relative;
  bottom: 10px;
  padding: 10px;
  text-align: center;
  color:#BDBDBD;
  font-family:'Montserrat', sans-serif;
}

footer a{
  color:#BDBDBD;
}

a:link,
a:visited {
  text-decoration: none;
  color: #333;
}

a:hover,
a:active {
  color: #ec4646;
}

/*--=========== Media query =============--*/ 

@media (max-width: 768px) {
  .container {
    padding: 40px 12px 10px 12px;
  }
  .flex {
    flex-direction: column;
  }
  .title {
    margin-bottom: 40px;
  }
  .content {
    width: 100%;
  }
  .content p {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
  }

  .team .container {
    padding-top: 20px;
  }
  .team .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    row-gap: 10px;
  }
  .img-5 {
    margin: 0;
  }
  .img-2,
  .img-4,
  .img-6 {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
    .teammate p {
      right: 10px;
      font-size: 10px;
    }
  }
  
